<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .color{
        color: darkblue;
    }
    body{
       font-family: 'Arial', sans-serif;
       background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1OOc11bHz2SGRh0azgKzVC-n4pboZxz9O0g&s');
       background-size: contain;
       background-color: #f0f0f0;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
    }
</style>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card mt-5">
                    <div class="card-body bg-secondary">
                        <h3 class="card-title text-center">Forgot Password</h3>
                        <p class="bg-secondary color font-weight-bold">Please Enter your Email to change your Password!</p>
                        <form method="POST" action="{% url 'reset_password' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="font-weight-bold" for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            {% if message %}
                            <div>
                                <p>{{message.status}}</p>
                            </div>
                            {% endif %}
                        </form>
                        <button type="submit" class="btn btn-danger btn-block"><a class="card-link text-white" href="{% url 'loginpage' %}">Cancel</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
